body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


#all-wrapper {
  width: 100%;
}
#page-left-wrapper {
  width: 280px;
  border-right:3px solid #aaa;
  position: fixed;
  height: 100%;
}
#page-left-wrapper a {
  color: #000;
  text-decoration: none;
}
#page-left-wrapper a:hover {
  color: blue;
}
#page-title {
  width: 100%;
  height: 95px;
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-border {
  border-top: 1px solid #a1a1a1;
  height: 48px;
  padding-left: 20px;
    color: #4d4e53;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* right css */
#page-content-wrapper {
  height: 100%;
  margin-left: 284px;
  margin-bottom:120px;
  display: flex;
  flex-wrap: wrap;
}
#main{
  width: 100%;
  padding: 20px;
}
.section {
  width: 90%;
  height: auto;
  line-height: 1.5;
}
.article {
  width:100%;
  height: auto;
  padding:0 15px;
}
.title {
  margin-top: 15px;
  width: 100%;
  height: 43px;
  font-size: 1.8em;
  font-weight: thin;
  display: flex;
  flex-direction: row;
}
.li-tag {
  padding-left: 20px;
  margin-top: 15px;
}
.code-tag {
  display:block;
  border-radius: 5px;
  word-break: normal;
  word-wrap: normal;
  white-space: pre;
  margin:10px;
  padding: 15px;
  line-height: 2;
   background-color:#f7f7f7;
}

@media only screen and (max-width: 480px) {
  #all-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }
  #page-left-wrapper {
    width: 90%;
    margin: 0 auto;
    border:3px solid #aaa;
    border-radius: 5px;
    position: fixed;
    height: 200px;
    background-color: white;
    overflow-y: scroll;
  }
  #page-left-wrapper a {
    color: #000;
    text-decoration: none;
  }
  #page-left-wrapper a:hover {
    color: blue;
  }
  #page-title {
    width: 100%;
    height: 55px;
    font-size: 20px;
    color: #010101;
  }
  .nav-border {
    border-top: 1px solid #a1a1a1;
    height: 48px;
    padding-left: 20px;
      color: #4d4e53;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* max-width:800px; right css*/
  #page-content-wrapper {
    height: 100%;
    margin-left: 0px;
    margin-bottom:120px;
  }
  #main {
    margin-top : 200px;
  }
  .section {
    width: 90%;
    height: auto;
    line-height: 1.5;
    margin: 0 auto;
  }
  .article {
    width:100%;
    height: auto;
    padding:0 15px;
  }
  .title {
    margin-top: 0px;
    width: 100%;
    height: 43px;
    font-size: 1.8em;
    font-weight: thin;
    display: flex;
    flex-direction: row;
  }
  .li-tag {
    padding-left: 20px;
    margin-top: 15px;
  }
  .code-tag {
    display:block;
    border-radius: 5px;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    margin:10px;
    padding: 15px;
    line-height: 2;
     background-color:#f7f7f7;
  }
} /* 800 media end */
